header {
  padding: 20px;
  background-color: var(--header-background-color);
  display: flex;

  justify-content: space-between;

  border-bottom: solid var(--section-seperators-color) 1px;
}

section {
  border-bottom: solid var(--section-seperators-color) 1px;
  padding-bottom: 50px;
  padding-top: 25px;
}

#navigation {
  display: flex;
}

#navigation > * {
  margin-left: 10px;
}

#welcome {
  padding-top: 100px;
  width: 100%;

  padding-bottom: 100px;

  display: grid;

  justify-items: center;
  justify-content: center;
  align-items: center;
}

#fast-links-in-welcome {
  display: flex;
  justify-content: center;
}

#fast-links-in-welcome > * {
  margin: 10px;
}

#about {
  display: flex;
  justify-content: center;
}

#about-content {
  width: 50%;
  text-align: center;
}

#features {
  display: flex;
  justify-content: center;
}

#features-content {
  width: 50%;
  text-align: center;
}

#feutures-list-grid {
  padding-top: 50px;
  display: flex;

  justify-content: space-between;
}

#feutures-list {
  display: grid;

  text-align: left;
}

@media (max-width: 1280px) {
  ::-webkit-scrollbar {
    display: none;
  }
  #features-content {
    width: 100%;
    text-align: center;
  }
  #feutures-list-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feutures-list {
    text-align: center;
  }
  #feature {
    text-align: center;
  }
  html {
    background-attachment: scroll;
  }
}
